---
---

.content {

  .cv-header {
    font-size: 0.9rem;
    line-height: 1.50;

    .row {
      display: flex;
    }

    .column {
      flex: 50%;
    }

    h2 {
      margin-top: 0;
    }

    .cv-contacts {
      text-align: right;
    }
  }

  .cv-certs-table {
    width: 100%;

    td {
      white-space: break-spaces !important;
    }

    tr {
      background-color: transparent !important;
    }

    .cv-img img {
      margin: 0.5rem auto !important;
    }
  }

  .cv-img, .cv-img-clear {
    pointer-events: none;
  }

  .cv-img {
    max-width: none;
    border-radius: 100px !important;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    -moz-box-shadow: inset 0 0 20px #636161;
    -webkit-box-shadow: inset 0 0 20px #636161;
    box-shadow: inset 0 0 20px #636161;
  }

  .cv-img-clear img {
    @extend .cv-img;
    border-radius: 0;
  }

  em {
    opacity: 60%;
  }
}

@media print {
  #topbar-wrapper,
  #tail-wrapper,
  .post-meta,
  #back-to-top {
    display: none !important;
  }
}
