---
---

@import 'main';

/* append your custom style below */

.nopopup {
  pointer-events: none;
}

@import url("https://cdn.jsdelivr.net/npm/fork-awesome@1.2.0/css/fork-awesome.min.css");

.post-content {

  .cv-certs-table {
    width: 100%;
    td {
      white-space: break-spaces !important;
    }
    tr {
      background-color: transparent !important;
    }
    .cv-img img {
      margin: 0.5rem auto !important;
    }
  }

  .cv-img, .cv-img-clear {
    pointer-events: none;
  }

  .cv-img img {
    max-width: none;
    border-radius: 100px !important;
    background-size: cover;
    background-position: center;
    background-repeat: repeat, no-repeat;
    -moz-box-shadow: inset 0 0 20px #636161;
    -webkit-box-shadow: inset 0 0 20px #636161;
    box-shadow: inset 0 0 20px #636161;
  }

  .cv-img-clear img {
    @extend .cv-img;
    border-radius: 0;
  }

  em {
    opacity: 60%;
  }
}
